<ion-view title="主页">
  <ion-content>
    <h1 class="text-center">我的主页</h1>
    <div class="row ">
      <div class="col col-25 col-border tubiao">
        <a class="tab-item shortcut" href="">
          <i class="icon ion-android-apps calm"></i>
          <h5>新增商品</h5>
        </a>
      </div>
      <div class="col col-25 col-border tubiao">
        <a class="tab-item shortcut" href="">
          <i class="icon ion-android-apps assertive"></i>
          <h5>新增商品</h5>
        </a>
      </div>
      <div class="col col-25 col-border tubiao">
        <a class="tab-item shortcut" href="">
          <i class="icon ion-android-apps positive"></i>
          <h5>新增商品</h5>
        </a>
      </div>
      <div class="col col-25 col-border tubiao">
        <a class="tab-item shortcut" href="">
          <i class="icon ion-android-apps balanced"></i>
          <h5>新增商品</h5>
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>
