<ion-view title="主页">
  <ion-content>
    <img class="full-image" src="views/home/imgs/androidbanner.png" alt="">
    <div class="row padding-left stable-bg">

      <div class="col stable-bg">
        <h6>今日</h6>
        <p class="income">123.00<span class="yuan">元</span>  </p>
        <p>比昨日:<span class="balanced">+100.00</span><i class="icon ion-arrow-up-a assertive"></i></p>
      </div>

      <div class="col stable-bg">
        <h6>本周报表</h6>
        <p class="income">113.00<span class="yuan"></span>  </p>
        <p>同期:525.78<i class="icon ion-arrow-down-a dark"></i></p>
      </div>

      <div class="col stable-bg">
        <h6>本月报表</h6>
        <p class="income">256.14<span class="yuan"></span>  </p>
        <p>比昨日:528.00<i class="icon ion-arrow-up-a assertive"></i></p>
      </div>


    </div>


    <div class="row row-no-padding quick-actions">
      <div class="col col-25 col-border tubiao">
        <a class="tab-item shortcut" href="">
          <i class="icon ion-plus-round calm"></i>
          <h5>新增商品</h5>
        </a>
      </div>
      <div class="col col-25 col-border tubiao">
        <a class="tab-item shortcut" href="">
          <i class="icon ion-person-add assertive"></i>
          <h5>新增会员</h5>
        </a>
      </div>
      <div class="col col-25 col-border tubiao">
        <a class="tab-item shortcut" href="">
          <i class="icon ion-android-apps positive"></i>
          <h5>收银记账</h5>
        </a>
      </div>
      <div class="col col-25 col-border tubiao">
        <a class="tab-item shortcut" href="">
          <i class="icon ion-bag balanced"></i>
          <h5>支出管理</h5>
        </a>
      </div>
    </div>
    <div class="row row-no-padding quick-actions">
      <div class="col col-25 col-border tubiao">
        <a class="tab-item shortcut" href="">
          <i class="icon ion-pricetags calm"></i>
          <h5>商品管理</h5>
        </a>
      </div>
      <div class="col col-25 col-border tubiao">
        <a class="tab-item shortcut" href="">
          <i class="icon ion-person assertive"></i>
          <h5>会员管理</h5>
        </a>
      </div>
      <div class="col col-25 col-border tubiao">
        <a class="tab-item shortcut" href="">
          <i class="icon ion-ios-search-strong positive"></i>
          <h5>查询销售</h5>
        </a>
      </div>
      <div class="col col-25 col-border tubiao">
        <a class="tab-item shortcut" href="">
          <i class="icon ion-pie-graph balanced"></i>
          <h5>智能分析</h5>
        </a>
      </div>
    </div>
    <div class="row row-no-padding quick-actions">
      <div class="col col-25 col-border tubiao">
        <a class="tab-item shortcut" href="">
          <i class="icon ion-ios-filing calm"></i>
          <h5>供应商管理</h5>
        </a>
      </div>
      <div class="col col-25 col-border tubiao">
        <a class="tab-item shortcut" href="">
          <i class="icon ion-social-octocat assertive"></i>
          <h5>挂单</h5>
        </a>
      </div>
      <div class="col col-25 col-border tubiao">
        <a class="tab-item shortcut" href="">
          <i class="icon ion-ios-keypad-outline positive"></i>
          <h5>高级功能</h5>
        </a>
      </div>

    </div>
  </ion-content>
  <div class="row text-center" style="position:fixed;bottom: 6px;">
    <h7 style="width: 100%"><span><i class="icon ion-social-github"></i>2017-2018 czl</span></h7>
  </div>
</ion-view>
