
.tubiao{
  height: 25vw;
  display: flex;
  align-items: center;
  border:1px solid #ececec;
}
.tubiao + .tubiao{
  margin-left: -1px;
}
.shortcut{
  height:auto;
}
.quick-actions{
  margin-left: 1px;
}
.quick-actions + .quick-actions{
  margin-top: -1px;
}
.income{
  font-size: 18px;
}
.yuan{
  font-size: 10px;
}
