<ion-view view-title="修改密码" cache-view="false">
  <form name="changePasswordForm" novalidate>
<ion-content>
  <div class="list list-inset stable-bg">
    <span class="input-label">请输入旧密码</span>
    <label for="" class="item item-input">
      <input name="oldPassword" type="password" ng-model="user.oldPassword" required>
    </label>
    <span class="input-label">请输入新密码</span>
    <label for="" class="item item-input">
      <input name="password" type="password" ng-model="user.password" required ng-minlength="6" ng-maxlength="16">
    </label>
    <span class="input-label">在输入一次</span>
    <label for="" class="item item-input">
      <input name="confirmPassword" type="password" ng-model="user.confirmPassword" >
    </label>

  </div>
  <div class="padding">
    <button type="submit" class="button button-energized button-block" ng-disabled="changePasswordForm.$invalid" ng-click="save()">确定</button>
  </div>
</ion-content>
    <div class="toast-container active"
    ng-messages="changePasswordForm.password.$error" ng-if="changePasswordForm.password.$touched||changePasswordForm.$submitted">
      <p class="toast-message" ng-message="required">新密码必填</p>
      <p class="toast-message" ng-message="minlength || maxlength">新密码至少6位不多于16位</p>

    </div>
  </form>
</ion-view>
