.toast-container{
  position: fixed;
  bottom: 50px;
  width: 100%;
  opacity: 0;
  transition: opacity .8s;
  z-index: 10;
  &.active{
    opacity: 1;
  }
}
.toast-message{
  width: 270px;
  margin:5px auto;
  padding: 5px;
  background-color: $dark;
  text-align: center;
  color:$light;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  font-size: 14px;
}
